<h1> 掃描式電子顯微鏡 Zeiss Supra 55 </h1>
<img />

<table>
  <tbody>
    <tr>
      <th> 儀器全名 </th>
      <td> 掃描式電子顯微鏡 Zeiss Supra 55 </td>
    </tr>
    <tr>
      <th> 儀器廠牌 </th>
      <td> Zeiss </td>
    </tr>
    <tr>
      <th> 儀器型號 </th>
      <td> Supra 55 </td>
    </tr>
    <tr>
      <th> 操作員 </th>
      <td> 林恩寧 </td>
    </tr>
    <tr>
      <th> 分機 </th>
      <td> 07-5252000 ext. 4087 </td>
    </tr>
    <tr>
      <th> 位置 </th>
      <td> 工MS3024(原B3024) </td>
    </tr>
    <tr>
      <th> 教授 </th>
      <td> 張六文老師、張志溥老師 </td>
    </tr>
  </tbody>
</table>